body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  border: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*================== Header Section ==================*/
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.header-logo .header-logo-second {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.nav-item {
  display: inline-block;
  color: #2e2f42;
  padding: 24px 0 24px 0;
}

.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/*================== Hero Section ==================*/
.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
}

.hero-button {
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  min-width: 169px;
  padding: 16px 32px;
  height: 56px;
  display: block;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/*================== Feature Section ==================*/
.features {
  padding: 120px 0;
}

.feature-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.feature {
  width: calc((100% - 72px) / 4);
}

.feature-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/*================== Team Section ==================*/
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.team-member {
  width: calc((100% - 72px) / 4);
  align-items: center;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}

.team-info {
  padding: 32px 0;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-role {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/*================== Portfolio Section ==================*/
.portfolio {
  padding: 120px 0 120px 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-info {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-type {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

/*================== Footer Section ==================*/
.site-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.site-footer .logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #4d5ae5;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.site-footer .logo-second {
  color: #f4f4fd;
}

.footer-text-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
